#
# QuikUtil .gitignore
#

# Ignore Rundirs.
/run/

# Ignore IDE Files.
/eclipse/
/.nb-gradle/
/nbproject/
/.idea/
/.nb-gradle-properties
/.classpath
/.project
/.settings/

# Ignore Gradle Stuff
/gradle.properties
/.gradle/

# Ignore Git
/.git/

# Ignore Build Files
/build/
/dist/
/out/
/logs/
/bin/

# Ignore Config
/config/

# Ignore Dependencies
dependencies.zip
/libs/
*.bak
